.page {
  display: flex;
  min-width: 1100px;
  max-width: 1600px;
  justify-content: center;
  font-family: "Inter", Arial;
  font-size: 16px;
  line-height: 20px;
}

.header {
}

.content {
}

.recipes {
}

.reservation {
}

.menu {
}

.about {
}

.footer {
}
